body {
    font: 14px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding-left: 10%;
    padding-right: 10%;
}

header {
    border-bottom: 1px solid gray;
    text-align: center;
}

nav {
    float: left;
    padding-top: 3%;
    display: block;
}

article {
    overflow: hidden;
    padding-left: 4%;
}

a:link, a:visited {
    color: #047DF2;/*#2da38d;#356d63;#3a8c7d;*/
    text-decoration: none;
}

strong {
font-family: Lora;
font-size: 16px;
font-weight: 600;
}